@import url('./font.css');

* {
    user-select: none;
    font-family: BWHaasHead, Helvatica, Arial, sans-serif;
    --global: min(1vw, 1vh);
    --global2: max(1vw, 1vh);
}

body {
    --hue: 276;
    margin: 0;
    background: radial-gradient(rgb(32, 32, 32) 50%, black);
    background: radial-gradient(hsl(var(--hue), 61%, 41%) 50%, hsl(var(--hue), 88%, 23%));
}

.gameContainer {
    background: #ccacff;
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.black,
.white,
.whiteBack,
.blackBack {
    --size: calc(var(--global) * 40 * 63 / 88);
    font-weight: bolder;
    aspect-ratio: 63 / 88;
    width: var(--size);
    border-radius: calc(var(--size) / 20);
    padding: calc(var(--size) / 10);
    font-size: calc(var(--size) / 11);
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.black:after,
.white:after {
    position: absolute;
    inset-inline: 0;
    /* background: lime; */
    content: "Cards Against Activities";
    inset-block: 90% 0px;
    font-size: 0.6em;
    padding: 4% 6%;
    font-weight: 500;
    pointer-events: none
}

.blackBack:after,
.whiteBack:after {
    position: absolute;
    inset-inline: 0;
    /* background: lime; */
    content: "Cards Against Activities";
    /*inset-block: 90% 0px;*/
    font-size: 1.8em;
    letter-spacing: calc(var(--size) * 0.00625);
    padding-inline: 13%;
    font-weight: bolder;
    pointer-events: none
}

.black,
.blackBack {
    background: black;
    color: white;
}

.white,
.whiteBack {
    background: white;
    color: black;
}

.whiteButton {
    background: rgb(0 0 0 / 50%);
    position: absolute;
    inset: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.35em;
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0;
    font-weight: 500;
    z-index: 5;
}

.whiteButton:hover {
    opacity: 1;
}

.whiteContainer,
.prison {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: min(3vw, 3vh);
    margin-block: 10px;
}

/*.prison {*/
/*    background: lime;*/
/*}*/
.leaderboard {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: calc(var(--global) * 1.25);
    font-size: calc(var(--global) * 2.5);
    font-weight: bolder;
    margin: calc(var(--global) * 2);
}

.leaderboardEntry {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    color: white;
    gap: min(1vh, 1vw);
}

.pfp {
    aspect-ratio: 1 / 1;
    width: min(6vw, 6vh);
    background: var(--color);
    border-radius: 50%;
    position: relative;
}

.pfp:after {
    position: absolute;
    content: attr(data-name);
    color: white;
    left: 200%;
    /*width: 400%;*/
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    overflow: hidden;
    width: 10%;
    transition: 0.2s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
}

.pfp:hover:after {
    opacity: 1;
    width: 400%;
}

.unready {
    transform: perspective(calc(var(--global) * 30)) rotateX(180deg);
}

.profileName {
    opacity: 0;
    transition: opacity 0.15s, height 0.1s;
    height: 0;
    pointer-events: none
}

.profile:hover .profileName {
    opacity: 1;
    height: calc(var(--global) * 3.5);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.leaderboardData {
    /*display: none;*/
    overflow: hidden;
    width: 0;
    transition: width 0.2s, margin-left 0.2s, padding-right 0.2s;
    box-sizing: border-box;
    padding: 0;
    margin-left: -50;
    /*outline: 1px solid lime;*/
}

.scores:hover .leaderboardData {
    /*display: block;*/
    width: calc(var(--global) * 25);
    margin-left: calc(var(--global) * 2);
    padding-right: calc(var(--global) * 2)
}

.leaderboardScore {
    width: calc(var(--global) * 2.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.standingPlace {
    font-size: calc(var(--global) * 4);
    position: relative;
}

.standingPlace:after {
    content: attr(ordinal);
    font-size: 0.5em;
    position: absolute;
    top: calc(var(--global) * 0.5);
}

.pushy {
    transition: 0.5s;
    scale: 1;
}

.pushy:hover {
    transition: 0.2s;
    scale: 1.05;
}

.pushy:active {
    transition: 0.1s;
    scale: 0.95
}